

div.img {
    margin: 5px;
    padding: 5px;
    
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}






/*--- what to do ---



--- for big border and image display in 1 raw ---
--- for image have white border ---
--- for image have blue border. when mouse cursor on image it will display blue border ---
--- for paragraph ---*/